.App {
  text-align: center;
  background-image: radial-gradient(circle, #efffef, #00fa9a)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop-menu {
  width: 3em;
  height: 3em;
}

.nav-drop-menu {
  float: left;
  margin-left: 3em;
  margin-top: 1em;
  /* border-style: dotted; */
}

.nav-header {
  height: 8em;
  width: 100%;
  /* border-style: solid; */
}

.castle-header {
  /* border-style:solid; */
  width: 50%;
  margin-left: 10%;
  padding-top:1em;
  padding-left: 17%;
}

.castle {
  width: 80%;
  /* border-style: solid; */
  float: left;
}

.footer {
  height: 4em;
}

.title {
padding-top: 1em;
}

/* .title h1 {
  float: left;
  font-size: 3em;
  border-style: dashed;
  color: #545ed8;
} */

.landing-container {
  height: 100%;
}
