.App {
  text-align: center;
  background-image: radial-gradient(circle, #efffef, #00fa9a);
  background-size: cover;

}
/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */

.drop-menu {
  width: 3em;
  height: 3em;
}

.nav-drop-menu {
  float: left;
  margin-left: 3em;
  margin-top: 1em;
  /* border-style: dotted; */
}
.nav-header {
  height: 8em;
  width: 100%;
  /* border-style: solid; */
}

.nav-header-mobile {
  height: 8em;
  width: 100%;
  margin-bottom: -15%;
  /* border-style: solid; */
}

.castle-header {
  /* border-style:solid; */
  width: 50%;
  margin-left: 10%;
  padding-top:1em;
  padding-left: 17%;
}

.castle {
  width: 80%;
  /* border-style: solid; */
  float: left;
}

.footer {
  height: 2em;
}

.title {
padding-top: 1em;
}

#user-greeting {
  /* border-style:solid; */
  width: 25%;
  float: right;
  margin-top: 1%;
  margin-right: 2%;
  font-size: .75em;
  color: #545ed8;
}

.landing-container {
  min-height: 100vh;
}

.landing-container-mobile {
  min-height: 120vh;
}

/* General sidebar styles */
.bm-menu {
  background: #efffef;
  opacity: .7;
  padding: 2.5em 1em 0;
  font-size: .9em;
  width: 100%;
  text-align: left;
}

.bm-menu a {
  text-decoration: none;
  color: black;
}

  .bm-cross-button {
    height: 24px;
    width: 24px;
    color: black;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: black;
}

.bm-slider-icon {
  height: 50%;
  bottom: 0;
  position: absolute;
}

  .bm-slider-icon img {
    width: 50%;
    opacity: .7;
    margin-left: 15%;
    margin-bottom: 0;
  }

  /* .view-pw {
    border-style: none;
  } */

  .pw-input-wrapper {
    display: inline;
    /* border-style: solid; */
  }

  .inner-form-div {
    /* border-style: dotted; */
    height: 90%;
  }

  .inner-form-div h3{
    margin-right: 30%;
  }

  .eye-icon-pw {
    position: absolute;
    width: 2%;
    margin-right: 25%;
    margin-top:4.5%;
    opacity: .65;
    float: left;
    margin-left: -4%;
    /* border-style: dashed; */
  }

  .form-inputs {
    margin-top: .5em;
    margin-bottom: .25em;
    border-radius: 4px;
    width: 70%;
    float: left;
    height: 1.5em;
    text-align: center;
    border-style: none;
  }

  .mobile-form-inputs {
    margin-top: 7%;
    margin-bottom: .25em;
    border-radius: 4px;
    width: 70%;
    height: 2em;
    float: left;
    text-align: center;
    border-style: none;
  }

  #search-input {
    width: 25%;
    margin-left: 38%;
    margin-bottom: 5%;
    height: 5vh;
    font-size: 1.5em;
  }

  #mobile-search-input {
    margin-top: 20%;
    width: 85vw;
    height: 10vh;
    margin-left: 12%;
    margin-bottom: 5%;
    /* float:left; */
    font-size: 1.5em;
  }



  .btn {
    border-color: #43fb45;
    /* border-width: .01em; */
    border-radius: 50%;
    height: 4em;
    width: 4em;
    background-color: white;
    }

    .form-btn {
      /* border-style: solid; */
      width: 15%;
      height: 15%;
      margin-top: 30%;
      margin-left: 27%;
      padding-top: 5%;
    }

  .form-div {
    /* border-style: dotted; */
    width: 30%;
    height: 39vh;
    padding-left: 37%;
    margin-top: 5%;
  }

  .mobile-form-div {
    padding-left: 20%;
  }

  .mobile-justify {
    padding-top: 3em;
    padding-bottom: -10%;
  }

  .errors-box {
    margin-top: 3em;
    font-size: .6em;
    margin-right: 30%;
    text-align:center;
    color: red;
  }

  .submit-btn {
    color: blue;
  }

  .no-submit-btn {
    color: red;
  }

  .find-box {
    width: 100%;
    margin-top: 10%;
  }
  .find-box-mobile {
    width: 100%;
    padding-top: 20%;
  }

  #big-btn-mobile {
    width: 90vw;
    height: 20vh;
    border-radius: 55vh;
    margin-top: 10%;
  }
  #big-btn-mobile p{
    font-size: 2em;
  }


  #big-btn {
    height: 5em;
    width: 15em;
    border-radius: 55vh;
    font-size: 1em;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  #big-btn:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

  .search-button {
    /* border-style: solid; */
    width: 20%;
    height: 20%;
    margin-left: 40%;
  }

  .mobile-search-button {
    padding-top: 3em;
  }

  .search-input-div-mobile {
    /* border-style: dashed; */
    margin-bottom: 2%;
    width: 40%;
    height: 10%;
    /* margin-left: 29%; */
  }

  .search-input-div {
    /* border-style: dashed; */
    margin-bottom: 2%;
    width: 100vw;
    height: 5vh;
    /* margin-left: 29%; */
  }


  .map-box {
    float: left;
    /* border-style: solid; */
    width: 50%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 5%;
  }

  .playgrounds-scroll-box-mobile {
    margin: 5%;
    /* float: right; */
    overflow: auto;
    height: 50vh;
    width: 90%;
    /* background-color: #d1ffe1; */
    /* border-radius: 2%; */

    /* border-style: dashed; */
  }

  .playgrounds-scroll-box {
    text-align: left;
    margin-top: 5%;
    margin-right: 10%;
    float: right;
    overflow: auto;
    height: 60vh;
    width: 25%;
    /* background-color: #d1ffe1; */
    /* border-radius: 2%; */
    /* opacity: .5; */
    /* border-style: dashed; */
  }
  .map-box-mobile {
    /* float: left; */
    /* border-style: solid; */
    width: 90%;
    height: 40vh;
    margin: 5%;
    /* border-radius: 5%; */
  }

  #map {
    width: 100%;
    height: 100%;
  }

  /* .image-div {
    height: 20vh;
    width:8em;
    border-style: dashed;
    margin: .25em;
    /* float:left; */

  /* } */


  .link-wrapper {
    /* border-style: dotted; */
    width: 100%;
    height: 1.5em;

    /* display: block; */
  }

  .title-div {
    /* border-style: solid; */
    width: 50%;
    margin-left:25%;
  }

  .website-link {
    width: 10%;
    /* border-style: solid; */
    float: left;
    /* text-align: right;
    margin-right: 2.5%; */
  }

  .directions-link {
    width: 10%;
    /* border-style: dashed; */
    float: left;
    /* text-align: left;
    margin-left: 2.5%; */
  }
  #rev-add-box {
    /* border-style:dotted; */
    height: 10vh;
  }
  .add-review-link {
    width: 10%;
    /* border-style: dashed; */
    float: left;
    margin-left: 35%;
  }
  .review-box {
    /* border-style:dashed; */
  }
  .add-review-form-box {
    /* border-style: solid; */
    width:90%;
    height: 70vh;
    margin-top: 0%;
    margin-left: 5%;
  }

  #review-form-input {
    width: 40%;
    margin-left: 27%;
  }

  #review-form-textarea {
    width:40%;
    margin-left: 27%;
    margin-top: 1%;
    height: 20vh;
  }

  #review-form-button {
    /* border-style: dotted; */
    margin-left: 31%;
  }

  .pg-title-box {
    margin-top: 5%;
    /* border-style: dashed; */
    text-align: center;
    width: 100%;
  }

  /* .pg-image {
    height: 100%;
    width: 100%
  } */


  .pg-card {
    border-style: solid;
    border-width: 1px;
    background-color:white;
    /* border-color: white; */
    height: 10vh;
    margin-top: .5vh;
    margin-bottom: .5em;
    border-radius: 10px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite; */
  }

  .pg-card:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }

  @keyframes bounce {
  	50%, 100%, 20%, 50%, 100% {
  		-webkit-transform: translateY(0);
  		-ms-transform:     translateY(0);
  		transform:         translateY(0)
  	}
  	100% {
  		-webkit-transform: translateY(-30px);
  		-ms-transform:     translateY(-30px);
  		transform:         translateY(-30px)
  	}
  	10% {
  		-webkit-transform: translateY(-15px);
  		-ms-transform:     translateY(-15px);
  		transform:         translateY(-15px)
  	}
  }

  .pg-card h3 {
    /* border-style:dashed; */
    margin-top: 1%;
    width: 100%;
    height: 50%;
    margin-bottom: 0;
    margin-left: 2%;

    float: left;
  }
  .pg-card p {
    /* border-style:dotted; */
    margin-top: 1%;
    margin-left: 2%;
    float: left;
  }


  .grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(4, 25%);
    grid-gap: .5em;
    align-items: stretch;
    justify-items: stretch;
    }

  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;

  }



  .pg-photo-box {
    display: grid;
    /* overflow-x: auto; */
    width: 51.5vw;
    height: 80vh;
    margin-top: 5%;
    margin-left: 23%;
    margin-right: 20%;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    padding: 1em;

  }

  .pg-photo-box-mobile {
    overflow: auto;
    width: 90%;
    height: 70vh;
    margin-top: 15%;
    margin-left:5%;
    margin-bottom: 0;
  }

  .awaiting-results-box {
    /* border-style: solid; */
    width: 100vw;
    height:50vh;
  }

  .image-loader {
    background-image: url("assets/smiling-kid-icon-blue.png");
    background-size: 20vh;
    background-repeat: no-repeat;
    /* border-style: solid; */
    width: 40%;
    height: 20vh;
    margin-left: 45%;
    margin-top: 20vh;
  }

  .image-loader-mobile {
    background-image: url("assets/smiling-kid-icon-blue.png");
    background-size: 20vh;
    background-repeat: no-repeat;
    /* border-style: solid; */
    width: 40%;
    height: 20vh;
    margin-left: 33%;
    margin-top: 20vh;
  }

  .awaiting-results-box-mobile {
    /* border-style: solid; */
    width: 100vw;
    height:50vh;
  }

  .loader {
  /* border-top: 16px solid blue; */
  border: 16px solid #545ed8;
  border-radius: 100%;
  width: 20vw;
  height: 37vh;
  animation: spin 3s linear infinite;
  margin-left: 39vw;
  margin-top: -17%;

}

.loader-mobile {
/* border-top: 16px solid blue; */
border: 16px solid #545ed8;
border-radius: 100%;
width: 55vw;
height: 35vh;
animation: spin 3s linear infinite;
margin-left: 18vw;
margin-top: -50%;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.user-page-mobile {}
.user-page {}
.user-name-box-mobile {}
.user-name-box {
  width: 100%;
  /* border-style: solid; */
  text-align: center;
  margin-top: 2%;
}
.user-item-box-mobile {}
.user-item-box {
  /* border-style: dashed; */
  height: 70vh;
  padding-left: 10%;
}
.user-display-box-mobile {}
.user-display-box {
  /* border-style: dotted; */
  height: 60vh;
  width: 25%;
  float: left;
  margin: 2%;
}


.inner-user-display-box {
  /* border-style: solid; */
  height: 95%;
  width: 100%;
  overflow: auto;
}

.check-addy {
  color: red;
  font-size: .25em;
  width: 80%;
  height: 1vh;
  margin-left: 5%;
  margin-bottom: 0;
}

.checker {
  color: blue;
  font-size: .25em;
  width: 30%;
  height: 1vh;
  margin-left: 0%;
  margin-bottom: 0;
  /* border-style: solid; */
  float:left;
  margin-top: 0;
}

.checker-input {
  width: 5%;
  height: 1vh;
  margin-left: 25%;
  margin-bottom: 0;
  float:left;
}
.add-box {
  /* border-style: solid; */
  margin-top: 5%;
  height: 80vh;
  padding: 5%;
}

.search-box {
  /* border-style: dashed; */
  width: 40%;
  height: 80%;
  float: left;
  margin-top: -2%;
}

.search-box p{
  font-size: .5em;
}

.search-box-mobile {
  /* border-style: dotted; */
  width: 90vw;
  height: 40vh;
  float: left;
  padding-bottom:20%;
  padding-right:3%;
  margin-left: 3%;
}

.add-form {
  /* border-style: dotted; */
  width: 40%;
  height: 80%;
  float: left;
  margin-left:  10%;
  padding-left: 5%;
}

.add-form-mobile input {
  width: 90%;
  height: 3em;
  margin: 3%;
}
.user-add-form-inputs {
  width: 90%;
}

.add-form-mobile textarea {
  width: 90%;
  height: 30%;
  margin: 3%;
}

.add-box-mobile {
  width: 100%;
  height: 100%;
  margin: 1%;
}

#pg-desc {
  height: 10vh;
}

.inner-form-buttons {
  /* border-style: solid; */
  float:left;
  width: 90%;

}

.inner-form-buttons-mobile {
  /* border-style: dotted; */
  float:left;
  width: 95%;
  height: 6em;

}

.inner-form-buttons-mobile p {
  /* border-style: solid; */
  width: 30%;
  float: left;
  margin-top:7%;
  margin-left: 2%;
  text-align: left;
}

.inner-form-buttons p {
  /* border-style: solid; */
  width: 25%;
  float: left;
  margin-right:7%;
  text-align: left;
}

.inner-form-buttons-each {
  width: 31%;
  height: 2vh;
  float: left;
  /* border-style: dashed; */
  text-align: left;
  margin-top: 6%;
}

.inner-form-buttons-each-mobile {
  width: 25%;
  height: 12vh;
  float: left;
  /* border-style: dashed; */
  text-align: left;
  margin-top: 6%;
  padding-left: 5%;
}

#pg-pic-upload {
  /* border-style: solid; */
  float:left;
  margin-top: 5%;
  margin-left: 1%;
  width: 50%;
}

#pg-pic-upload-mobile {
  /* border-style: dashed; */
  float:left;
  margin-top: 10%;
  margin-left: 1%;
  width: 60%;
}

#pg-pic-div {
  width: 90%;
  /* border-style: solid; */
}

#pg-pic-div-mobile {
  width: 95%;
  /* border-style: solid; */
}

#pg-pic-div p{
  /* border-style: dashed; */
  width: 40%;
}

#pg-pic-div-mobile p{
  /* border-style: dashed; */
  width: 30%;
  text-align: left;
  margin-left:2%;
}
.add-pg-photo-review {
  /* border-style: solid; */
  float: left;
  width: 30vw;
  height: 10vh;
  margin-top: 3%;
  display: flex;
  overflow: scroll;
  padding-bottom: 3%;
}

.add-pg-photo-review-mobile {
  border-style: solid;
  border-width: .1em;
  float: left;
  width: 90%;
  height: 30vh;
  margin:2%;
  /* display: flex; */
  overflow: scroll;
  padding-bottom: 1%;
}

.small-review-photo {
  /* border-style: dotted; */
  height: 90%;
  /* width:140px; */
  margin: 2%;
  /* display: flex;
  overflow-x: auto; */
}

.small-review-photo img {
  height: 100%;
  width: 4em;
}

.small-review-photo-mobile {
  /* border-style: dotted; */
  height: 90%;
  /* width:140px; */
  margin: 2%;
  /* display: flex;
  overflow-x: auto; */
}

.small-review-photo-mobile img{
  /* border-style: dashed; */
  height: 90%;
  width:90%;
  margin: 2%;
  /* display: flex;
  overflow-x: auto; */
}

#add-button {
  /* border-style: solid; */
  width: 7em;
  height: 7em;
}

.add-button-box {
  /* border-style: solid; */
  width:30%;
  height: 15%;
  float: left;
  margin-left: 30%;
  margin-top: 5%;
}

.add-button-box-mobile {
  /* border-style: solid; */
  width:30%;
  height: 15%;
  float: left;
  margin-left: 30%;
  margin-top: 5%;
}

.add-button-box-mobile button {
  width: 20vw;
  height: 15vh;
}

#get-loc {
  padding-bottom: 1%;
}

.get-current-location {
  /* border-style: solid; */
  width: 90%;
  height: 9vh;
  float: left;
  padding-left: 10%;
}

.add-pg-mapbox {
  width: 100%;
  /* border-style: dotted; */
  height: 80%;
  padding-bottom: 1%;
}

.box-holder {
  height: 15vh;
  width: 90%;
  /* border-style: solid; */
  float: left;
}
.get-current-location-mobile {
  border-style: solid;
  width: 90%;
  height: 9vh;
  float: left;
  padding-left: 10%;
}

.add-pg-mapbox-mobile {
  width: 100%;
  border-style: dotted;
  height: 80%;
  padding-bottom: 1%;
}

.reviews-box {
  width: 100%;
  float: left;
  height: 30vh;
  border-style: dashed;
}

.render-reviews {
  overflow: scroll;
}



  /* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
   transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
