.App {
  text-align: center;
  background-image: radial-gradient(circle, #efffef, #00fa9a)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drop-menu {
  width: 3em;
  height: 3em;
}

.nav-drop-menu {
  float: left;
  margin-left: 3em;
  margin-top: 1em;
  /* border-style: dotted; */
}
.nav-header {
  height: 8em;
  width: 100%;
  /* border-style: solid; */
}

.nav-header-mobile {
  height: 8em;
  width: 100%;
  margin-bottom: -15%;
  /* border-style: solid; */
}

.castle-header {
  /* border-style:solid; */
  width: 50%;
  margin-left: 10%;
  padding-top:1em;
  padding-left: 17%;
}

.castle {
  width: 80%;
  /* border-style: solid; */
  float: left;
}

.footer {
  height: 2em;
}

.title {
padding-top: 1em;
}



.landing-container {
  height: 100vh;
}

/* General sidebar styles */
.bm-menu {
  background: #efffef;
  opacity: .7;
  padding: 2.5em 1em 0;
  font-size: .9em;
  width: 100%;
  text-align: left;
}

.bm-menu a {
  text-decoration: none;
  color: black;
}

  .bm-cross-button {
    height: 24px;
    width: 24px;
    color: black;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: black;
}

.bm-slider-icon {
  height: 50%;
  bottom: 0;
  position: absolute;
}

  .bm-slider-icon img {
    width: 50%;
    opacity: .7;
    margin-left: 15%;
    margin-bottom: 0;
  }

  /* .view-pw {
    border-style: none;
  } */

  .pw-input-wrapper {
    display: inline;
    /* border-style: solid; */
  }

  .inner-form-div {
    /* border-style: dotted; */
    height: 90%;
  }

  .inner-form-div h3{
    margin-right: 30%;
  }

  .eye-icon-pw {
    position: fixed;
    width: 2%;
    margin-right: 25%;
    margin-top:4.5%;
    opacity: .65;
    float: left;
    margin-left: -4%;
    /* border-style: dashed; */
  }

  .form-inputs {
    margin-top: .5em;
    margin-bottom: .25em;
    border-radius: 4px;
    width: 70%;
    float: left;
    height: 1.5em;
    text-align: center;
    border-style: none;
  }

  .mobile-form-inputs {
    margin-top: 7%;
    margin-bottom: .25em;
    border-radius: 4px;
    width: 70%;
    height: 2em;
    float: left;
    text-align: center;
    border-style: none;
  }

  #search-input {
    width: 25%;
    margin-left: 40%;
    margin-bottom: 5%;
  }

  #mobile-search-input {
    width: 110%;
    height: 3em;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .btn {
    border-color: #43fb45;
    /* border-width: .01em; */
    border-radius: 50%;
    height: 4em;
    width: 4em;
    background-color: white;
    }

    .form-btn {
      /* border-style: solid; */
      width: 15%;
      height: 15%;
      margin-top: 30%;
      margin-left: 27%;
      padding-top: 5%;
    }

  .form-div {
    /* border-style: dotted; */
    width: 30%;
    height: 39vh;
    padding-left: 37%;
    margin-top: 5%;
  }

  .mobile-form-div {
    padding-left: 20%;
  }

  .mobile-justify {
    padding-top: 3em;
    padding-bottom: -10%;
  }

  .errors-box {
    margin-top: 3em;
    font-size: .6em;
    margin-right: 30%;
    text-align:center;
    color: red;
  }

  .submit-btn {
    color: blue;
  }

  .no-submit-btn {
    color: red;
  }

  .find-box {
    width: 100%;
    margin-top: 10%;
  }
  .find-box-mobile {
    width: 100%;
    padding-top: 20%;
  }

  #big-btn {
    height: 15em;
    width: 15em;
    font-size: 1em;
  }

  .search-button {
    /* border-style: solid; */
    width: 20%;
    height: 20%;
    margin-left: 40%;
  }

  .mobile-search-button {
    padding-top: 3em;
  }

  .search-input-div {
    /* border-style: dashed; */
    margin-bottom: 2%;
    width: 40%;
    height: 10%;
    margin-left: 29%;
  }

  .playgrounds-scroll-box {
    text-align: left;
    margin-top: 5%;
    margin-right: 10%;
    float: right;
    overflow: auto;
    height: 60vh;
    width: 20%;
    /* border-style: dashed; */
  }
  .map-box {
    float: left;
    /* border-style: solid; */
    width: 50%;
    height: 60vh;
    margin-left: 10%;
    margin-top: 5%;
  }

  .playgrounds-scroll-box-mobile {
    margin: 5%;
    /* float: right; */
    overflow: auto;
    height: 50vh;
    width: 90%;
    /* border-style: dashed; */
  }
  .map-box-mobile {
    /* float: left; */
    /* border-style: solid; */
    width: 90%;
    height: 40vh;
    margin: 5%;
  }

  #map {
    width: 100%;
    height: 100%;
  }

  /* .search-input {
    width: 0%;
  } */

  /* Reveal */
  /* .hvr-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-reveal:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-color: #affdcf;
    border-style: solid;
    border-width: 0;
    -webkit-transition-property: border-width;
    transition-property: border-width;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-width: 2px;
  } */

  /* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
   transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Shadow */
/* .hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
} */
